
nav{
    background: #252525;
    color: white;
    padding: 5px 10px;
}

.inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 45px;
}

.app-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.year-filter-container{
    display: flex;
    align-items: center;
}

#year-filter-select{
    padding: 5px;
    border-radius: 5px;
}

.red-search{
    background-color: #da4141;
}

.red-search:hover{
    background-color: #bb2c2c;
}

.blue-search{
    background-color: #1672fb;
}

.blue-search:hover{
    background-color: #045ada;
}

#search-toggle-btn{
        display: none;
}

@media (max-width: 700px) {
    #search-toggle-btn{
        display: flex;
    }
}