
nav{
    background: #252525;
    color: white;
    padding: 10px;
}

.inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.app-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.year-filter-container{
    display: flex;
    align-items: center;
}

#year-filter-select{
    padding: 5px;
    border-radius: 5px;
}

.year-filter-label{
    margin-right: 5px;
}