html, body {
    touch-action: manipulation;
}

nav{
    background: #252525;
    color: white;
    padding: 5px 10px;
    position: relative;
    z-index: 6;
}

.inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 45px;
}

.app-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.red-search{
    background-color: #da4141;
}

.red-search:hover{
    background-color: #bb2c2c;
}

.blue-search{
    background-color: #1672fb;
}

.blue-search:hover{
    background-color: #045ada;
}

#search-toggle-btn{
        display: none;
}

#squares-link{
    background: #486077;
    border: 1px solid #6b859e;
    padding: 5px 10px; 
    border-radius: 5px;
}

@media (max-width: 700px) {
    #search-toggle-btn{
        display: flex;
    }

    #squares-link{
        margin-right: 15px;
    }
}

#grayout{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    background: #4545458f;
    width: 100%;
    z-index: 5;
}