.search-row-outer{
    background-color: #d1d1d1;
    padding-top: 5px;
}

.search-row-inner{
    margin: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: calc(100vw - 40px);
    border-radius: 10px;
    background: #969696;
}

#logo-container{
    height: 55px;
}

#superbowl-logo{
    width: 70px;
    margin-left: 10px;
}

.search-icon{
    position: absolute;
    width: 14px;
}

.mag-glass{
    left: 6px;
}

.spinner{
    right: 6px;
    display: none;
    animation: rotate .85s linear infinite; /* Adjust the duration and timing function as needed */
}

.x{
    width: 10px;
    right: 6px;
    cursor: pointer;
}

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.name-search{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 150px;
}

.name-search>input{
    padding: 10px 28px;
    border-radius: 5px;
    width: 110px;
    border: none;
    font-size: 15px;
    width: 100%;
}

.name-search>input:focus{
    outline: none;
}

#show-winner-button{
    background: #1e6dfe;
    display: block;
    padding: 9px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#show-winner-button:hover{
    background: #1062fb;
}